#no-file {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 112px;
  p {
    width: 309px;
    text-align: center;
    margin-bottom: 33px;
    font-family: Plus Jakarta Text;
    font-weight: normal;
    font-size: 14px;
    color: #14213d;
  }

  button{
    
  }
}
