


#document-display-details{
    padding: 0px;
    margin: 0;
    display:flex;
    justify-content: space-between;
    #name{
        font-family: "Plus Jakarta Display";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
       
        color: #14213d;
    }
    #price{
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #14213d;
    }
}